pandas==2.0.1
streamlit==1.24.1
pickleshare==0.7.5
fastai==2.7.12
opencv-python-headless==4.7.0.72
Pillow==9.5.0
numpy==1.24.3
zipp==3.15.0
urllib3==1.26.15
torch==2.0.1
torchvision==0.15.2
ipython==8.13.2
matplotlib==3.7.1
nasapy==0.2.7
gdown==4.7.1
